include lib-md.pug
include packages/lib-md.pug

+md_h(2, about.title)
+md_badges(stati)

+md_h(3, about.name)
+md_h(4, about.heading)
+md_p(about.paragraph)
+md_bq(about.note)

+md_h(3, techs.name)
+md_tableTechs(techs)

+md_badgeSession(workspace)
+md_badgeSession(contacts)