include components/index.pug

+h(2, about.title)
+badges(stati)

+h(3, about.name)
+h(4, about.heading)
+p(about.paragraph)
+bq(about.note)

+h(3, techs.name)
+tableTechs(techs)

+badgeSession(workspace)
+badgeSession(contacts)