include packages/lib-badge.pug

mixin html_badges(session)
    .
        !{getBadgesHtml(session.items)}

mixin html_badgeSession(session, type="h3")
    #{type}= session.name
    +html_badges(session)

-
    const techsBodyArray = (techs) => [ techs.common, techs.front, techs.back ].map(
        (tech) => getBadgesHtml(tech)
    );

mixin html_tr(cells)
    tr
        each cell in cells
            td!= cell

mixin html_tableTechs(techs)
    table
        +html_tr([ "", ...techs.headers.h ])
        +html_tr([ techs.headers.v[0], ...techsBodyArray(techs.content.skills) ])
        +html_tr([ techs.headers.v[1], ...techsBodyArray(techs.content.learning) ])
        +html_tr([ techs.headers.v[2], ...techsBodyArray(techs.content.viewing) ])
        br